.wrapper__blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .block-content {
    /* Adjust the width as per your design */
    margin-bottom: 20px; /* Adjust the margin as per your design */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .portfolio-image{
    width: 350px;
    border-radius: 25px;
  }
