.logo__image{
    width: 30px;

  }

  .logo {
    transition: transform 0.5s ease-in-out;
  }

  .rotate {
    transform: rotate(360deg);
  }

  .logo__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 195px;
  }

  .button__hamburger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

