.present__header {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
  }


  .present__text {
    margin: 0;
    text-align: center;
    overflow: hidden; /* Ensure text doesn't overflow outside the container */
    white-space: nowrap; /* Prevent line breaks */
    animation: typewriter 7s steps(40) 1s infinite;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }



  .profile__image {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;


  }

  .general-info {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
      margin-top: 10px;
      align-items: center;

  }

  .general-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

  }

  .name-header {
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
  }

  .descrition-personal {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }

  .job-header{
    text-align: center;
    font-size: 40px;
  }
.description-profesional{
    width: 500px;
}

.button-cv {
    background-color: #319795;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-cv:hover {
    background-color: #38B2AC;
  }

  .personal-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .bio-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .bio-info p {
    margin: 10px 0;
    color: #333;
    overflow: hidden; /* Ensure text doesn't overflow outside the container */
    white-space: nowrap; /* Prevent line breaks */
    animation: typewriter 7s steps(40) 1; /* Removed 'infinite' */
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }



  .bio-info p span {
    color: #319795;
    transition: background-color 0.3s ease;
  }

  .bio-info p span:hover {
    background-color: #38B2AC;
    color: #fff;
  }




