.present__header {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .present__text {
    margin: 0;
    text-align: center;
    overflow: hidden; /* Ensure text doesn't overflow outside the container */
    white-space: nowrap; /* Prevent line breaks */
    animation: typewriter 7s steps(40) 1s infinite;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }



  .profile__image {
    width: 100px;
    border-radius: 50%;
    border: 29px white;

  }

  .general-info {

    display: flex;
    align-items: center;
    justify-content: space-between; /* Center the content horizontally */

  }

  .general-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .name-header {
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
  }

  .descrition-personal {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }
