@media (max-width: 760px) {
    .wrapper__content {
        position: relative;
        z-index: 1;
        max-width: 700px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-direction: column;

      }
    .present__header {
      font-size: 10px;
      width: 320px;
    }

    .profile__image {


        margin-top: 20px;
      width: 70px;
    }

    .general-info {

      flex-direction: column;

      margin-top: 10px;
      align-items: center;

    }

    .general-presentation {


      margin-top: 10px;
    }

    .name-header {

      font-size: 30px;
    }

    .descrition-personal {

      font-size: 10px;
    }
    .description-profesional{
        width: 350px;
    }
    .life-path{
        width: 350px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


  }






