.form-container {
    width: 95%;
    padding: 1rem;
  }

  .form-header {
    font-size: 1.5rem;
  }

  input,
  textarea {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .submit-button {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
