@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');




body{
  background-color: rgb(240, 231, 219);
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}

.canvas-container{
  margin-top: 20px;
}

canvas{
  height: 500px;
  width: 200px;
  margin-top: 50px;
}

.wrapper {
  position: relative;
    margin: 0 auto;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.canvas-wrapper {
  position: relative;
  z-index: 0;
  margin-top: 20px;
}

.wrapper__content {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin: 0 auto;
}

