.wrapper{
  margin: 0 auto;
}

.wrapper__content{
  background-color: tomato;
  max-width: 768px;
  margin: 0 auto;
}

body{
  background-color: rgb(240, 231, 219);
  overflow-x: hidden;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}