@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


.wrapper{
  margin: 0 auto;
}

.wrapper__content{
  background-color: tomato;
  max-width: 768px;
  margin: 0 auto;
}

body{
  background-color: rgb(240, 231, 219);
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}

.canvas-container{
  margin-top: 20px;
}

canvas{
  height: 500px;
}