
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Disable default tap highlight color */
/* Disable default tap highlight color */
* {
  -webkit-tap-highlight-color: transparent; /* For Safari, iOS, and Android */
  -moz-tap-highlight-color: transparent; /* For older versions of Firefox */
  -ms-tap-highlight-color: transparent; /* For Windows Phone */
  user-select: none; /* Disable text selection */
}
