
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Disable default tap highlight color and remove outline */
a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent; /* For Safari and Chrome */
  -moz-tap-highlight-color: transparent; /* For older versions of Firefox */
  -ms-tap-highlight-color: transparent; /* For Internet Explorer */
  tap-highlight-color: transparent; /* For newer versions of Chrome, Firefox, and other browsers */
  outline: none;
}
